     
// .navbar {
//  min-height: 100px;
// }
// .navbar-brand {
//     padding: 0 15px;
//     height: 100px;
//     line-height: 100px;
//   }
.navbar-color {
    background-color: #05386B;
}

#brand-color, #navbar-links{
    color: #EDF5E1;
    font-weight: bold;
}

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}