@import "font-awesome";
// .navbar {
//  min-height: 100px;
// }
// .navbar-brand {
//     padding: 0 15px;
//     height: 100px;
//     line-height: 100px;
//   }
.navbar-color {
    background-color: #05386B;
}

#brand-color {
    color: #EDF5E1;
    font-weight: bold;
}

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
  color: #EDF5E1;
  font-weight: bold;
  display: inline-block;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#f3c9d3, 20%) !important;
  }
}
